.success {
    background-color: #41B883!important;
}
.flex {
	display: flex;
	align-items: center;
}
.looking {
	color:#6c757d !important;
	background-color: #fffcf5;
	border: none!important;
}
.looking:hover {
	background-color: #f8f9fa;
}
.spinner-border {
	width: 16px;
	height: 16px;
}
.looking * {
	font-size: 12px!important;
}
.mdi-magnify::before {
	font-size: 20px!important;
}
.flex {
	display: flex;
}
.space-between {
	justify-content: space-between;
}
.input-group-append .bi-calendar{
	color: #fff!important;
}
.dropdown-menu button:focus {
	color: #000!important;
}
@media(max-width: 480px) {
	.v-toolbar__title {
		display: none;
	}
	.v-divider--vertical.v-divider--inset {
		display: none;
	}
	.space {
		display: none;
	}
	.search {
		display: flex;
		margin-bottom: 20px;
	}
}
@media(max-width: 1024px) {
	.printer {
		display: none;
	}
	#start-date {
		font-size: 12px;
	}
}