.success {
    background-color: #41B883!important;
}
.flex {
	display: flex;
	align-items: center;
}
#start_date, #end_date {
	background: none!important;
}
.looking {

	color:#6c757d !important;
	background-color: #fffcf5;
	border: none!important;
	padding: 6px 17px;
    margin-top: 29px;
}
.looking:hover {
	background-color: #f8f9fa;
}
.bi-calendar-fill{
	color: #000!important;
}
#start_date__dialog_ .btn:focus , #end_date__dialog_ .btn:focus {
	color: #000!important;
}
